* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Header */

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header {
    background-color: #1f2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

/* Hero */

.hero {
    background-color: #1f2937;
}

.hero-h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    width: 460px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 140px;
}

.hero-img {
    width: 600px;
    height: 230px;
    color: #e5e7eb;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button {
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    margin-top: 15px;
}

/* Information */

.info-h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 70%;
    margin: 50px auto 80px;
}

.card {
    width: 150px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.card-text {
    width: 150px;
    margin-top: 10px;
    text-align: center;
}

/* Quote */

.quote-section {
    background-color: #e5e7eb;
    padding: 80px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    width: 820px;
    margin: 0 auto;
}

.quote-author {
    font-size: 23px;
    font-weight: 700;
    text-align: right;
    margin-top: 10px;
}

.quote-container {
    max-width: 70%;
    margin: 0 auto;
}

/* Call to action */

.action-container {
    max-width: 70%;
    margin: 100px auto;
}

.blue-box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.action-h3 {
    color: #f9faf8;
    font-size: 23px;
    margin-bottom: 5px;
}

.action-para {
    color: #e5e7eb;
}

.action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 16px;
}

/* Footer */

.footer {
    background-color: #1f2937;
}

.footer-text {
    color: #e5e7eb;
    font-size: 16px;
    text-align: center;
    padding: 40px 0;
}

